<div class="col-md-9">
    {{#if itemSearch}}
        <h4><b>Results for</b> {{ searchQuery }}</h4>
    {{else if categorySearchQuery}}
        <h4>{{ categorySearchQuery }}</h4>
    {{/if}}
    <div class="row">
    {{#if itemSearch}}
        {{#each product}}
            <div class="col-sm-3" style="margin-top:30px;">
                <div class="thumbnail"  style="">
                    <center>
                        <a  href="product_details">
                            <img height="130px;" width="130px;" src="{{ smallimage }}" alt="" style="margin-bottom: 0.5cm;" href="/product_detail/{{ id }}">
                        </a>
                        <fieldset style="font-size: 12px;">{{ name }}</fieldset>
                        <div class="pull-center">
                            <p class="price" style="font-size: 12px; color: #f39c12;"><b>₱{{ price }}</b></p>
                        </div>
                    </center>
                </div>
            </div>
        {{/each}}
    {{else if searchQuery}}
        {{> display_not_found}}
    {{else}}
        {{#each product}}
            <div class="col-sm-3" style="margin-top:30px;">
                <div class="thumbnail"  style="">
                    <center>
                        <a  href="product_details">
                            <img height="130px;" width="130px;" src="{{ smallimage }}" alt="" style="margin-bottom: 0.5cm;" href="/product_detail/{{ id }}">
                        </a>
                        <fieldset style="font-size: 12px;">{{ name }}</fieldset>
                        <div class="pull-center">
                            <p class="price" style="font-size: 12px; color: #f39c12;"><b>₱{{ price }}</b></p>
                        </div>
                    </center>
                </div>
            </div>
        {{/each}}
    {{/if}}
    </div>
</div>